
@media screen and (min-width: 550px) and (max-width: 735px){
  #maincontent ul {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
    grid-gap: 10px;
  }
  #restaurants-list li {
    min-width: 0;
  }
}
@media screen and (min-width: 736px) and (max-width: 1014px){
  #maincontent ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 1015px) and (max-width: 1115px){
  #maincontent ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  #restaurants-list li {
    min-width: 240px;
    width: 50%;
  }
}
@media screen and (min-width: 1116px) {
  #maincontent ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  #breadcrumb {
    width: 100%;
  }
}
@media screen and (min-width: 1352px){
  #maincontent ul {
    display: grid;
    grid-template-columns: repeat(4, .6fr);
    grid-gap: 10px;
  }
  #restaurants-list li {
    min-width: 240px;
  }
}
@media screen and (min-width: 1710px){
  #maincontent ul {
    display: grid;
    grid-template-columns: repeat(5, .6fr);
    grid-gap: 10px;
  }
}
@media screen and (min-width: 2020px){
  #maincontent ul {
    display: grid;
    grid-template-columns: repeat(6, .6fr);
    grid-gap: 10px;
  }
}
