@media screen and (min-width: 1820px){
  .inside #maincontent {
    grid-template-columns: repeat(3, .6fr);
    padding: 130px 0 100px 0;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1819px) {
  .inside #maincontent {
    grid-template-columns: repeat(2, 1fr);
    padding: 130px 0 100px 0;
  }
}
@media screen and (min-width: 1400px) {
  .inside #map-container {
    top: 80px;
  }
}
@media screen and (max-width: 600px) {
  #restaurant-img img {
    width: 100%;
  }
  .inside #map-container {
    min-width: unset;
  }
}